<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Search</title>
</head>

<body>
    <h1>Welcome to Course Explorer 2.0</h1>
    <button onclick="window.location.href='course-search';">
        Course Search
      </button>
      <button onclick="window.location.href='professor-search';">
        Professor Search
      </button>
      <button onclick="window.location.href='course';">
        Create/Delete Course
      </button>
    
    <h2>Advanced analysis</h2>
    <button onclick="window.location.href='rich-professor';">
      Find courses by professor salary
    </button>
</body>

</html>